body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    color: #333;
}

.container {
    height: 100vh;
    overflow: hidden;

}

section {
    height: 100vh; /* Cada seção ocupa toda a altura da viewport */
    display: flex; /* Flexbox para centralizar conteúdo */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.full-screen {
    height: 100vh; /* Altura igual à janela visível */
    display: block; /* Centraliza os elementos */
    flex-direction: column; /* Alinha os filhos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona um espaço interno */
    box-sizing: border-box;
    text-align: center; /* Centraliza textos */
}

a {
    text-decoration: none;
}

H1 {
    margin-top: 100px;
    font-size: 40px;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%); 
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-text {
    display: block;
    animation: slideIn 1s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

/* Icinio */
#inicio {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.inicio-conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: left;
    width: 90%;
    max-width: 1200px;
}

.inicio-imagem {
    width: 350px;
    height: 350px;
    border: 4px solid #6CE5E8;
    border-radius: 50%;
    object-fit: cover;
}

.texto-inicio {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre título, subtítulo e botão */
    max-width: 600px; /* Limite para o texto */
}

.texto-inicio h2 {
    font-size: 80px; /* Mantém o tamanho original */
    font-weight: 600;
    margin: 0;
    text-align: left; /* Alinhamento à esquerda */
}

.texto-inicio h3 {
    font-size: 30px; /* Mantém o tamanho original */
    font-weight: 400;
    margin: 0;
    border-top: 5px solid #6CE5E8;
    padding-top: 5px;
    text-align: left;
}

.icones-inicio {
    display: flex;
    justify-content: flex-start; /* Alinha os ícones à esquerda */
    gap: 15px;
    flex-wrap: wrap; /* Permite quebra em telas menores */
    margin-top: 20px; /* Ajuste do espaçamento */
}

.icones-inicio svg{
    width: 50px; /* Mantém o tamanho original */
    height: 50px;
    color:  #333;
    cursor: pointer;
    transition: transform 0.3s;
}

.icones-inicio svg:hover {
    color: #6CE5E8;
    transform: scale(1.2); /* Animação suave */
}

.inicio button {
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.inicio button:hover {
    background-color: #6CE5E8;
    transform: scale(1.05);
}

.icone-container-inicio {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tooltip {
    visibility: hidden;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    font-size: 12px;
    z-index: 1;
    background-color: #333; /* Fundo escuro para o tooltip */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

.icone-container-inicio:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    .inicio-conteiner {
        flex-direction: column; /* Empilha elementos em telas menores */
        gap: 20px;
    }

    .inicio-imagem {
        width: 250px; /* Ajusta imagem em telas menores */
        height: 250px;
    }

    .texto-inicio h2 {
        font-size: 60px; /* Reduz tamanho do título */
    }

    .texto-inicio h3 {
        font-size: 24px; /* Reduz tamanho do subtítulo */
    }

    .icones-inicio img {
        width: 30px;
        height: 30px;
    }

    .inicio button {
        font-size: 14px;
        padding: 15px 30px;
    }
}

H1 {
    text-align: center;
}

.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    transition: color 0.3s;
}

.navbar a:hover { 
    color: #6CE5E8;
}

.navbar a.active {
    color: #6CE5E8;
    font-weight: bold;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #6CE5E8;
    transition: width 0.6s;
}

.navbar a:hover::after {
    width: 100%;
}

.icone-menu {
    stroke: #f0f0f0;
    transition: filter 0.3s ease;
}

a:hover .icone-menu {
    stroke: #6CE5E8;
}

#icone-tema {
    position: absolute;
    right: 80px;
    top: 50%; 
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-sol, .icone-lua {
    position: absolute;
    width: 30px;
    height: 30px;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.icone-sol.hide, .icone-lua.hide {
    opacity: 0; /* Esconde o ícone */
    transform: translateY(50%); /* Move para baixo */
}

.icone-sol.show, .icone-lua.show {
    opacity: 1; /* Mostra o ícone */
    transform: translateY(0); /* Retorna à posição original */
}

.content {
    padding-top: 80px;
}


/*Sobre */
#sobre {
    display: flex; /* Ativa o layout flexível */
    flex-direction: row; /* Coloca os elementos lado a lado */
    align-items: flex-start; /* Alinha os itens ao topo */
    justify-content: space-between; /* Garante espaço proporcional entre os elementos */
    gap: 20px; /* Espaço entre as colunas */
    width: 100%; /* Ocupa toda a largura da página */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box;
    min-height: 100vh;
}

.slider {
    position: relative;
    width: 150px; /* Tamanho do slider */
    height: 150px; /* Mantém a imagem quadrada */
    overflow: hidden; /* Oculta imagens fora do contêiner */
}

.perfil-imagem {
    margin-top: 80px;
    margin-bottom: 10px;
    width: 100%; /* Ocupa toda a largura do contêiner */
    max-width: 450px; /* Limite máximo para telas maiores */
    height: auto; /* Ajusta a altura proporcionalmente à largura */
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #333;
    transition: opacity 0.5s, transform 0.3s;
}


.lista-borda {
    width: 90%;
    max-width: 800px;
    border: 2px solid #333;
    padding: 5px; /* Espaço interno da borda */
    border-radius: 10px; /* Cantos arredondados */
    margin: 10px auto;
    background-color: #f9f9f9;
    transition: transform 0.3s, box-shadow 0.3s

}

.lista-borda:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho da lista */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destaque */
}

.lista-borda h3 {
    margin: 0; 
    padding: 0;
}

.lista-borda li {
    text-align: left;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .lista-borda {
        width: 95%; /* Mais largo em telas pequenas */
        padding: 10px; /* Reduz o padding */
    }
}

@media (max-width: 480px) {
    .lista-borda {
        width: 100%; /* Ocupa a largura total em telas muito pequenas */
        padding: 8px; /* Padding ainda menor */
    }
}

/* Softwares */

#softwares {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center;
}

#softwares h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.descricao {
    display: none;
}

.icones-softwares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
}

.icone-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 10px;
}

.icone-container img {
    width: 100px;
    height: 100px;
}

.nome-software {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.icone-container{
    width: 150px;
    height: 150px;
    padding: 15px;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.icone-container:hover {
    background-color: #6CE5E8; /* Cor de fundo ao passar o mouse */
}

/* Projetos */
.projetos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Limita a 4 colunas */
    gap: 20px;
}

.projeto {
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.projeto h3 {
    margin-top: 0;
}

.projeto.hide {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.projetos-filtro {
    display: flex;
    justify-content: center;
    gap: 0;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 50px; 
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.filtro-btn {
    flex: 1;
    padding: 10px 20px;
    background-color: transparent; 
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50px; 
    text-align: center;
}

.filtro-btn:hover,
.filtro-btn.active {
    background-color: #6CE5E8;
    color: #333;
    box-shadow: 0px 4px 6px rgba(108, 229, 232, 0.4); /* Adiciona um leve destaque */
}

.filtro-btn:not(:last-child) {
    margin-right: -1px; /* Remova a borda para manter a continuidade */
}

#contador-projetos {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.projeto.hide {
    display: none;
}

.projeto.show {
    display: block;
}

/* Responsividade para telas menores */
@media (max-width: 1200px) {
    .projetos-container {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas médias */
    }
}

@media (max-width: 800px) {
    .projetos-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas pequenas */
    }
}

@media (max-width: 500px) {
    .projetos-container {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }
}


/* Contato */
.Contato {
    display: flex;
    flex-direction: column; /* Empilha os elementos */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: flex-start; /* Garante que os itens fiquem no topo */
    padding: 40px 20px; /* Espaçamento interno */
    box-sizing: border-box;
    align-items: center;
    width: 100%;
}

.contato-container {
    display: flex;
    flex-direction: row; /* Alinha os itens lado a lado */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    gap: 50px;
    width: 100%;
    height: 80%;
    max-width: 900px; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    box-sizing: border-box;
}


.contato-left {
    margin-right: 200px;
    flex: 1; /* Ocupa 1 fração do espaço */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.contato-left img {
    margin-right: 200px;
    max-width: 100%; /* Limita a largura da imagem */
    height: auto; /* Mantém a proporção */
    border-radius: 10px; /* Bordas arredondadas */
}


.contato-right {
    flex: 2; /* Ocupa 2 frações do espaço */
    display: flex;
    flex-direction: column; /* Empilha os elementos do formulário */
    gap: 15px;
}


.Contato form {
    display: flex;
    flex-direction: column; /* Empilha os campos */
    gap: 15px; /* Espaçamento entre os campos */
}

.Contato input,
.Contato textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.Contato button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Contato button:hover {
    background-color: #333;
}

/* Responsividade */
@media (max-width: 768px) {
    .contato-container {
        flex-direction: column; /* Empilha as colunas em telas menores */
        gap: 20px;
    }
}


/* Tema escuro */
body.dark-theme {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #1e1e1e;
    color: #fff;
}

.navbar.dark-theme {
    background-color: #f0f0f0;
}

.inicio button.dark-theme {
    background-color: #f0f0f0;
    color: #333;
}